pyrogram==2.0.35
TgCrypto
pyromod==1.5

pymongo[srv]==3.12.3
python-dotenv<=0.20.0
marshmallow==3.14.1
umongo==3.0.1
pyrogram==2.0.35
motor==2.5.1
Pillow

dnspython
aiofiles
aiohttp
apscheduler
pyshorteners
psutil
colorama
